* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header {
    height: 80px;
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
}

.header-left img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.header-right {
    height: 100%;
    width: 50%;
    float: right;

}

.menu {
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu-item {
    height: 100%;
}

.menu-item-first {
    height: 100%;
    position: relative;
}

.menu-item-second {
    height: 100%;
    position: relative;
}

.menu-item-third {
    height: 100%;
    position: relative;
}

.dropdown-menu-first {
    width: 150px;
    height: 300px;
    background-color: white;
    position: absolute;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: -40px;
    top: 60px;

}

.dropdown-menu-first.visibility {
    display: none;
}

.dropdown-menu-second {
    width: 150px;
    height: 150px;
    background-color: white;
    display: none;
    position: absolute;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    left: -18px;
    top: 60px;
}

.dropdown-menu-second.visibility {
    display: none;
}

.dropdown-menu-third {
    width: 150px;
    height: 150px;
    background-color: white;
    position: absolute;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 60px;
}

.visibility {
    display: none;
}

.visibility-due {
    display: none;
}

.visibility-tre {
    display: none;
}

.iconUno::after {
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    font-weight: 900;
    float: right;
    transition: transform 0.5s;
    margin-left: 20px;
}

.iconDue::after {
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    font-weight: 900;
    float: right;
    transition: transform 0.5s;
    margin-left: 20px;
}

.iconTre::after {
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    font-weight: 900;
    float: right;
    transition: transform 0.5s;
    margin-left: 20px;
}

/* DA RIVEDERE DOMANI */
