* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header {
    height: 80px;
}

.container {
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
}

.header-left img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.header-right {
    height: 100%;
    width: 50%;
    float: right;

}

.menu {
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

.menu-item:hover {
    border-bottom: 3px solid green;

}

.menu-item {
    height: 100%;
    position: relative;
}

.dropdown {
    width: 150px;
    background-color: white;
    position: absolute;
    box-shadow: 2px 2px 5px grey;
    top: 60px;
    border-radius: 5px;
    display: none;
}

.dropdown-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-first {
    left: -40px;
    justify-content: space-around;
    height: 300px;
}

.menu-second {
    left: -18px;
    justify-content: flex-start;
    height: 150px;

}

.menu-third {
    top: 60px;

    height: 150px;
}

.icon::after {
    font-family: "Font Awesome 5 Free"; /* OBBLIGATORIO */
    content: '\f107'; /* NOME ICONA */
    font-weight: 900; /* OBBLIGATORIO */
    float: right;
    transition: transform 0.5s;
    margin-left: 20px;
}

.icon.ruota:after {
    transform: rotate(180deg);
}
